h1 {
    color: rgb(87, 62, 62);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
    margin-top: 0;
    background-color: white;
}

p {
    text-align: center;
    border: dashed 2px rgb(87, 62, 62);
    padding: 10px;
    background-color: white;
}

body {
    margin: 0 0 auto;
    width: 100%;
    background-image: url(Image/Sansen1.jpg);
}

canvas {
    background-color: white;
}

#canvas_wrapper {
    width: 1000px;
    margin: auto;
}

input {
    font-size: 100px;
    text-align: center;
}